{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- component -->
<div class="mt-6 bg-gray-50">
  <div class=" px-10 py-6 mx-auto">

        <!--author-->
     <div class="max-w-6xl px-10 py-6 mx-auto bg-gray-50">

    <a href="#_" class="block transition duration-200 ease-out transform hover:scale-110">
          <img class="object-cover w-full shadow-sm h-full" src="{{post.image_url.url}}">
      </a>

    <!--post categories-->
    <div class="flex items-center justify-start mt-4 mb-4">
          <a href="#"class="px-2 py-1 font-bold bg-red-400 text-white rounded-lg hover:bg-gray-500 mr-4">{{post.category.name}}</a>

         </div>
        <div class="mt-2">
          <!--post heading-->
          <a href="#"
                class="sm:text-3xl md:text-3xl lg:text-3xl xl:text-4xl font-bold text-purple-500  hover:underline">{{post.title}}</a>

                <!--post views-->
                <div class="flex justify-start items-center mt-2">
                  <p class="text-sm text-green-500 font-bold bg-gray-100 rounded-full py-2 px-2 hover:text-red-500">{{avg_rating}}</p>
                  <p class="text-sm text-gray-400 font-bold ml-5">Rating</p>

                </div>

                <!--author avator-->
               <div class="font-light text-gray-600">

              <a href="#" class="flex items-center mt-6 mb-6"><img
                          src="https://avatars.githubusercontent.com/u/71964085?v=4"
                          alt="avatar" class="hidden object-cover w-14 h-14 mx-4 rounded-full sm:block">
                      <h1 class="font-bold text-gray-700 hover:underline">{{post.author.first_name}} {{post.author.last_name}}</h1>
                  </a>
            </div>
       </div>

       <!--end post header-->
          <!--post content-->
 <div class="max-w-4xl px-10  mx-auto text-2xl text-gray-700 mt-4 rounded bg-gray-100">

   <!--content body-->
   <div>
          <p class="mt-2 p-8">{{post.description}}</p>
     </div>



</div>
</div>

<!--related posts-->
<h2 class="text-2xl mt-4 text-gray-500 font-bold text-center">Related Posts</h2>
<div class="flex grid h-full grid-cols-12 gap-10 pb-10 mt-8 sm:mt-16">


<div class="grid grid-cols-12 col-span-12 gap-7">
    {% for post in related_post %}
    <div class="flex flex-col items-start col-span-12 overflow-hidden shadow-sm rounded-xl md:col-span-6 lg:col-span-4">
        <a href="{% url 'post_details' post.slug %}" class="block transition duration-200 ease-out transform hover:scale-110">
            <img class="object-cover w-full shadow-sm h-full" src="{{post.image_url.url}}">
        </a>
        <div class="relative flex flex-col items-start px-6 bg-white border border-t-0 border-gray-200 py-7 rounded-b-2xl">
            <div class="bg-indigo-400 absolute top-0 -mt-3 flex items-center px-3 py-1.5 leading-none w-auto inline-block rounded-full text-xs font-medium uppercase text-white inline-block">
                <span>{{post.category.name}}</span>
            </div>
            <h2 class="text-base text-gray-500 font-bold sm:text-lg md:text-xl"><a href="{% url 'post_details' post.slug %}">{{post.title}}</a></h2>
            <!-- <p class="mt-2 text-sm text-gray-500">Learn how to authenticate users to your application using facebook.</p> -->
        </div>
    </div>
    {% endfor %}



</div>

</div>


<!--form form comments-->

<div class="max-w-4xl py-16 xl:px-8 flex justify-center mx-auto">

<div class="w-full mt-16 md:mt-0 ">
  <form method='post' class="mx-auto mt-10 px-12">
    <h3 class="mb-6 text-2xl font-medium text-center">Write a comment</h3>
    {% csrf_token %}


    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Comment
      </label>
      {{ form.body }}
      {% if form.body.errors %}
            {% for error in form.body.errors %}
              <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %}
          {% endif %}
    </div>
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        {{form.rating.label}}
      </label>
      {{ form.rating }}
      {% if form.rating.errors %}
            {% for error in form.rating.errors %}
              <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %}
          {% endif %}
    </div>







    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>

</div>
</div>


<!--comments-->

<div class="max-w-4xl px-10 py-16 mx-auto bg-gray-100  bg-white min-w-screen animation-fade animation-delay  px-0 px-8 mx-auto sm:px-12 xl:px-5">

<p class="mt-1 text-2xl font-bold text-left text-gray-800 sm:mx-6 sm:text-2xl md:text-3xl lg:text-4xl sm:text-center sm:mx-0">
All comments on this post
</p>


  {% for comment in post.comments.all %}
    </div>
    <!--comment 2-->
    <div class="flex  items-center w-full px-6 py-6 mx-auto mt-10 bg-white border border-gray-200 rounded-lg sm:px-8 md:px-12 sm:py-8 sm:shadow lg:w-5/6 xl:w-2/3">

    <a href="#" class="flex items-center mt-6 mb-6 mr-6"><img src="https://avatars.githubusercontent.com/u/71964085?v=4" alt="avatar" class="hidden object-cover w-14 h-14 mx-4 rounded-full sm:block">
    </a>

    <div><h3 class="text-lg font-bold text-purple-500 sm:text-xl md:text-2xl">{{comment.user.first_name}} {{comment.user.last_name}}</h3>
      <p class="text-sm font-bold text-gray-300">{{comment.created}}</p>
      <p class="mt-2 text-base text-gray-600 sm:text-lg md:text-normal">
        {{comment.body}}
      </p>
    </div>
  {% endfor %}
</div>

</div>
</div>
</div>
</div>

{% endblock content %}