<footer class="border-t grid grid-col-3 mt-12 pt-12 pb-32 px-4 lg:px-0">
  <div>
    <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2100&amp;q=80" class="h-12 w-12" alt="logo">
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-2/5">
      <p class="text-gray-600 hidden lg:block mt-4 p-0 lg:pr-12">
        Boisterous he on understood attachment as entreaties ye devonshire.
        In mile an form snug were been sell.
        Extremely ham any his departure for contained curiosity defective.
        Way now instrument had eat diminution melancholy expression sentiments stimulated.
      </p>
    </div>

    <div class="w-full mt-6 lg:mt-0 md:w-1/2 lg:w-1/5">
      <h6 class="font-semibold text-gray-700 mb-4">Company</h6>
      <ul>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Team</a> </li>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">About us</a> </li>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Press</a> </li>
      </ul>
    </div>

    <div class="w-full mt-6 lg:mt-0 md:w-1/2 lg:w-1/5">
      <h6 class="font-semibold text-gray-700 mb-4">Content</h6>
      <ul>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Blog</a> </li>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Privacy Policy</a> </li>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Terms &amp; Conditions</a> </li>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Documentation</a> </li>
      </ul>
    </div>

    <div class="w-full mt-6 lg:mt-0 md:w-1/2 lg:w-1/5">
      <h6 class="font-semibold text-gray-700 mb-4">Company</h6>
      <ul>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Team</a> </li>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">About us</a> </li>
        <li> <a href="" class="block text-gray-600 py-2" target="_blank">Press</a> </li>
      </ul>
    </div>

  </div>
</footer>