{% load static %}

<div class="px-12">
  <div class="border-t-4 border-gray-500 pt-6"></div>
  <h2 class="text-xl font-semibold hover:text-blue-500 mb-2">
    <a href="/post/category/politics">Politics</a>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
    {% for post in politics|slice:"0:3" %}
    <a href="{% url 'post_details' post.slug %}">
      <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
        <img
          class="h-48 w-full object-cover scale-100 hover:scale-125 transition duration-300 object-end"
          src="{{post.image_url.url}}"
          alt="Home in Countryside"
        />
        <div class="p-6">
          <h4 class="mt-2 font-semibold text-lg leading-tight truncate">
            {{post.title }}
          </h4>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
