{% load static %}

<div class="container mx-auto p-4 mt-12">
  <div class="w-full h-px bg-gradient-to-r py-1 rounded-md from-indigo-500 via-purple-500 to-pink-500"></div>

  <h2 class="text-xl font-semibold hover:text-blue-500 my-2">
    <a href="/post/category/sports">Sports</a>
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {% for post in sports|slice:"0:1" %}
    <div class="p-5 rounded-lg shadow-2xl col-span-2">
      <a href="{% url 'post_details' post.slug %}"
        ><img
          src="{{post.image_url.url}}"
          alt="Rover on Mars"
          class="w-full h-64 object-cover rounded-md"
        />
        <p class="text-xl font-semibold mt-2">{{post.title}}</p></a
      >
    </div>
    {% endfor %} {% for post in sports|slice:"1:2" %}
    <div class="p-5 rounded-lg shadow-2xl col-span-1">
      <a href="{% url 'post_details' post.slug %}"
        ><img
          src="{{post.image_url.url}}"
          alt="Rocket launch"
          class="w-full h-64 object-cover rounded-md"
        />
        <p class="text-xl font-semibold mt-2">{{post.title}}</p></a
      >
    </div>
    {% endfor %} {% for post in sports|slice:"2:5" %}
    <div class="p-5 rounded-lg shadow-2xl col-span-1">
      <a href="{% url 'post_details' post.slug %}"
        ><img
          src="{{post.image_url.url}}"
          alt="Person 1"
          class="w-full h-64 object-cover rounded-md"
        />
        <p class="text-xl font-semibold mt-2">{{post.title}}</p></a
      >
    </div>
    {% endfor %}
  </div>
</div>
