{% extends "dashboardBase.html" %}
{% load static %}
{% block content %}

<div class="h-full ml-14 mt-14 mb-10 md:ml-64">

  <div class="h-full bg-gray-200 p-8">
    <div class="bg-white rounded-lg shadow-xl pb-8">

        <div class="w-full h-[250px]">
            <img src="https://vojislavd.com/ta-template-demo/assets/img/profile-background.jpg" class="w-full h-full rounded-tl-lg rounded-tr-lg">
        </div>
        <div class="flex flex-col items-center -mt-20">
            {% if request.user.gender == 'male' %}
                    <img src="{% static 'men.jpg' %}" class="w-40 border-4 border-white rounded-full">
            {% elif request.user.gender == 'female' %}
                <img src="{% static 'women.jpg' %}" class="w-40 border-4 border-white rounded-full">
            {% endif %}

            <div class="flex items-center space-x-2 mt-2">
                <p class="text-2xl text-gray-700">{{request.user.first_name}} {{request.user.last_name}}</p>

            </div>
            <p class="text-gray-700">{{request.user.email}}</p>
            <p class="text-sm text-gray-500">{{request.user.city}}, {{request.user.country}}</p>
        </div>

    </div>

    <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
        <div class="w-full flex flex-col 2xl:w-1/3">
            <div class="flex-1 bg-white rounded-lg shadow-xl p-8">
                <h4 class="text-xl text-gray-900 font-bold">Personal Info</h4>
                <ul class="mt-2 text-gray-700">
                    <li class="flex border-y py-2">
                        <span class="font-bold w-24">Full name:</span>
                        <span class="text-gray-700">{{request.user.first_name}} {{request.user.last_name}}</span>
                    </li>
                    <li class="flex border-b py-2">
                        <span class="font-bold w-24">Birthday:</span>
                        <span class="text-gray-700">{{request.user.birth_date}}</span>
                    </li>
                    <li class="flex border-b py-2">
                        <span class="font-bold w-24">Joined:</span>
                        <span class="text-gray-700">{{request.user.date_joined}}</span>
                    </li>
                    <li class="flex border-b py-2">
                        <span class="font-bold w-24">Email:</span>
                        <span class="text-gray-700">{{request.user.email}}</span>
                    </li>

                    <li class="flex border-b py-2">
                        <span class="font-bold w-24">Location:</span>
                        <span class="text-gray-700">{{request.user.city}}, {{request.user.country}}</span>
                    </li>

                </ul>
            </div>

        </div>

    </div>

</div>


</div>



{% endblock content %}





